
<div class="item-detail">
	<div class="item-detail-inner">
		<div *ngFor="let item of items">
			Dátum: {{item.date}}<br/>
			Nazov: {{item.text}}<br/>
			Suma: {{item.value}}<br/>
		</div>

		<table *ngIf="itemsOfBill" mat-table [dataSource]="itemsOfBill" style="width: 100%" class="mat-elevation-z8">
			<ng-container matColumnDef="name">
		    	<th mat-header-cell *matHeaderCellDef> Nazov </th>
		    	<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		  	</ng-container>
		  	<ng-container matColumnDef="quantity">
		    	<th mat-header-cell *matHeaderCellDef> mnozstvo. </th>
		    	<td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
		  	</ng-container>
		  	<ng-container matColumnDef="j.cena">
		    	<th mat-header-cell *matHeaderCellDef> j.cena </th>
		    	<td mat-cell *matCellDef="let element"> {{element.price / element.quantity}} </td>
		  	</ng-container>
		  	<ng-container matColumnDef="price">
		    	<th mat-header-cell *matHeaderCellDef> cena. </th>
		    	<td mat-cell *matCellDef="let element"> {{element.price}} </td>
		  	</ng-container>

		  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
	<div #roller class="roller-container">
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
</div>


