<button class="close-btn">
    X</button>

<div class="add-item-container">
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="text">Item</label>
            <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add item" />
        </div>

        <div class="form-control">
            <label for="value">Value</label>
            <input type="number" name="value" [(ngModel)]="value" id="value" placeholder="add value" />
        </div>

        <app-select (newItemEvent)="getType($event)" name="type" customType="type" [data]="data" first="select type"></app-select>


        <input type="submit" value="save item" class="btn btn-block" />
    </form>
    <div class="">
        <ngx-scanner-qrcode #action="scanner" (data)="getCode($event)"></ngx-scanner-qrcode>
        <span>{{output}}</span>
        <button (click)="action.toggleCamera()" [disabled]="action.isLoading">
			{{action.isStart ? 'Vypnut' : 'Zapnut'}}
		</button>
    </div>
</div>
<br/><br/> Polozka:{{text}}
<br/> Hodnota:{{value}}
<br/> Typ:{{data[type]}}
<br/><br/>