<h2>Kategorie</h2>
<app-category-item
draggable="true"
    (dragstart)="onDragStart($event)" 
    (dragover)="onDragOver($event)" 
    (dragend)="onDragEnd($event)"
	*ngFor="let category of categories"
	[category]="category" 
	[attr.data-id]="category.id"></app-category-item>
	
<h2>Spolocnosti </h2>
<div *ngIf="companies">
	<div *ngFor="let company of companies">
		<div  class="company__item" #companyEl [attr.data-id]="company.ico">
			{{company.name}} / {{company.category}}
		</div>
	</div>

	<!--<h2>Spolocnosti zaradene do kategorii</h2>
	<div *ngFor="let company of companies">
		<div class="company__item" #companyEl
		[attr.data-id]="company.ico">
			{{company.name}}----

			{{company.category}}
		</div>
	</div>-->
</div>

