.company__item{
	padding: 5px 15px;
    background-color: #d0d3d7;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    
    margin-bottom: 10px;
}
.company__item-category {
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}
.company__item-category:first-of-type{
    margin-top: 5px;
}